
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Login</title>
</head>
<body>
<div class="container">
    <h2>Login</h2>
    <form method="POST">
        <input name="username" placeholder="Username" required><br>
        <input name="password" type="password" placeholder="Password" required><br>
        <button type="submit">Login</button>
    </form>
    <hr>
    <a href="{{ url_for('submit_ticket') }}"><button>Submit Maintenance Ticket (No Login)</button></a>
</div>
</body>
</html>
